---
import { fetchProject } from '~/utils/project';
import ProjectList from './ProjectList.astro';
import ViewAll from '../common/ViewAll.astro';
import Headline2 from '../blog/Headline2.astro';

export interface Props {
  title?: string;
  text?: string;
  link?: string;
  information?: string;
  count?: number;
}

const {
  title = await Astro.slots.render('title'),
  text = 'View all projects',
  link = '/project',
  information = await Astro.slots.render('information'),
  count = 2,
} = Astro.props;

let projects = fetchProject();
projects = projects.slice(0, count);
---

<section class="py-12 mx-auto">
  <Headline2 title={title} subtitle={information} link={link} />

  <ProjectList projects={projects} />
  <ViewAll class="mt-6" text={text} link={link} />
</section>
