---
import Image from '~/components/common/Image.astro';

interface Item {
  title: string;
  description?: string;
  image?: string | any; // TODO: find HTMLElementProps
  isReversed?: boolean;
}

export interface Props {
  title?: string;
  subtitle?: string;
  highlight?: string;
  content?: string;
  items?: Array<Item>;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  highlight,
  content = await Astro.slots.render('content'),
  items = [],
} = Astro.props;
---

<section class="bg-blue-50 dark:bg-slate-800 py-4 md:py-6">
  <div class="max-w-xl sm:mx-auto lg:max-w-2xl">
    {
      (title || subtitle || highlight) && (
        <div class="mb-4 md:mx-auto text-center max-w-3xl">
          {highlight && (
            <p
              class="text-base text-primary dark:text-blue-200 font-semibold tracking-wide uppercase"
              set:html={highlight}
            />
          )}
          {title && (
            <p
              class="text-3xl font-bold leading-tighter tracking-tighter mb-4"
              set:html={title}
            />
          )}

          {subtitle && (
            <p class="max-w-3xl mx-auto sm:text-center text-xl text-muted dark:text-slate-400" set:html={subtitle} />
          )}
        </div>
      )
    }
  </div>

  {
    items &&
      items.map(({ title: title2, description, image, isReversed }) => (
          <div class="mx-auto max-w-3xl p-4">
            <div class={`md:flex ${isReversed ? 'md:flex-row-reverse' : ''} md:gap-6`}>
              <div class="md:basis-2/5 self-center">
                {content && <div class="mb-6 text-lg dark:text-slate-400" set:html={content} />}
                  <div class="flex">
                    <div class="ml-4">
                      {title2 && <h4 class="text-md text-slate-700 leading-6 dark:text-white">{title2}</h4>}
                      {description && <p class="mt-2 text-muted dark:text-slate-400" set:html={description} />}
                    </div>
                  </div>
              </div>
              <div aria-hidden="true" class="mt-6 md:mt-0 md:basis-3/5">
                {image && (
                  <div class="relative m-auto max-w-4xl">
                    <Image
                      class="mx-auto w-full to-transparent"
                      width={500}
                      // height={500}
                      widths={[400, 768]}
                      layout="cover"
                      src={image}
                      alt=""
                    />
                  </div>
                )}
              </div>
            </div>
          </div>
      ))
  }
</section>
