---
import { getBlogPermalink } from '~/utils/permalinks';
import { findLatestPosts } from '~/utils/blog';
import List from './List.astro';
import ViewAll from '../common/ViewAll.astro';
import Headline2 from './Headline2.astro';

export interface Props {
  title?: string;
  allPostsText?: string;
  allPostsLink?: string;
  information?: string;
}

const {
  title = await Astro.slots.render('title'),
  allPostsText = 'View all posts',
  allPostsLink = getBlogPermalink(),
  information = await Astro.slots.render('information'),
  count = 4,
} = Astro.props;

const posts = await findLatestPosts({ count });
---

<section class="py-12 mx-auto">
  <Headline2 title={title} subtitle={information} />

  <List posts={posts} />
  {allPostsText && allPostsLink && <ViewAll text={allPostsText} link={allPostsLink} />}
</section>
