---
import { Picture } from '@astrojs/image/components';
import PostTags from '~/components/blog/Tags.astro';
import ArrowMotion from '~/components/common/ArrowMotion.astro';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';
import { getFormattedDate } from '~/utils/utils';

export interface Props {
  post: Post;
  showImage?: boolean;
  showTag?: boolean;
}

const { post, showImage = true, showTag = false } = Astro.props;
const image = await findImage(post.image);

const link = !BLOG?.post?.disabled ? getPermalink(post.permalink, 'post') : '';
---

<article class={`max-w-3xl mx-auto md:max-w-3xl grid gap-6 md:gap-8 ${image && showImage ? 'md:grid-cols-2' : ''}`}>
  {
    showImage && image && (
      <a class="relative block group" href={link ?? 'javascript:void(0)'}>
        <div class="relative h-0 md:h-56 overflow-hidden bg-gray-400 dark:bg-slate-700 rounded shadow-lg">
          {image && (
            <Picture
              src={image}
              class="absolute inset-0 object-cover w-full h-full mb-6 rounded shadow-lg bg-gray-400 dark:bg-slate-700"
              widths={[400, 900]}
              sizes="(max-width: 900px) 400px, 900px"
              alt={post.title}
              aspectRatio="16:9"
              loading="lazy"
              decoding="async"
            />
          )}
        </div>
      </a>
    )
  }
  <div class="mt-2">
    <header>
      <span class="text-sm leading-6 text-slatey-700 dark:text-slate-400">
        <time datetime={String(post.publishDate)}>{getFormattedDate(post.publishDate)}</time>
        {
          post.category &&
            Array.from(post.category).map((category) => (
              <>
                {' '}
                ·{' '}
                <a class="capitalize hover:underline" href={getPermalink(category, 'category')}>
                  {category.replaceAll('-', ' ')}
                </a>
              </>
            ))
        }
      </span>
      <h2 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">
        <div class="arrow-motion flex items-center content-center">
          {
            link ? (
              <a class="hover:text-slate-700 dark:hover:text-slate-100 transition ease-in duration-200" href={link}>
                {post.title}
              </a>
            ) : (
              post.title
            )
          }
          <ArrowMotion />
        </div>
      </h2>
    </header>

    {post.excerpt && <p class="flex-grow text-muted dark:text-slate-400 text-lg">{post.excerpt}</p>}
    {
      showTag && (
        <footer class="mt-2">
          <PostTags tags={post.tags} />
        </footer>
      )
    }
  </div>
</article>
