---
import Image from '~/components/common/Image.astro';

import PostTags from '~/components/blog/Tags.astro';
import SocialShare from '~/components/common/SocialShare.astro';
import Comment from '~/components/common/Comment.astro';

import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate } from '~/utils/utils';

import type { Post } from '~/types';

export interface Props {
  post: Post;
  url: string | URL;
  share?: boolean;
}

const { post, url, share = false } = Astro.props;
const { Content } = post;
---

<section class="py-8 sm:py-16 lg:py-20 mx-auto max-w-3xl">
  <article>
    <header class={post.image ? '' : ''}>
      <div class="flex justify-between flex-col sm:flex-row max-w-3xl mx-auto mt-0 mb-2 px-4 sm:px-6 sm:items-center">
        <p class="text-sm leading-6 text-slatey-700 dark:text-slate-400">
          <time datetime={String(post.publishDate)}>{getFormattedDate(post.publishDate)}</time>
          {
            post.category &&
              Array.from(post.category).map((category) => (
                <>
                  {' '}
                  ·{' '}
                  <a class="capitalize hover:underline" href={getPermalink(category, 'category')}>
                    {category.replaceAll('-', ' ')}
                  </a>
                </>
              ))
          }
        </p>
      </div>
      <h1
        class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
      >
        {post.title}
      </h1>
      <p
        class="max-w-3xl mx-auto mt-4 mb-8 px-4 sm:px-6 text-xl md:text-2xl text-muted dark:text-slate-400 text-justify"
      >
        {post.excerpt}
      </p>

      {
        post.image ? (
          <Image
            src={post.image}
            class="max-w-fit lg:max-w-3xl mx-auto mb-6 shadow sm:rounded-md bg-gray-400 dark:bg-slate-700"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post.title || ''}
            loading="eager"
            width={900}
            height={506}
            loading="eager"
            decoding="async"
          />
        ) : (
          <div class="max-w-3xl mx-auto px-4 sm:px-6">
            <div class="border-t dark:border-slate-700" />
          </div>
        )
      }
    </header>
    <div
      class="mx-auto px-6 sm:px-6 max-w-3xl break-words overflow-x-hidden prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow mt-8"
    >
      {
        Content ? (
          <>
            {/* @ts-ignore */}
            <Content />
          </>
        ) : (
          <Fragment set:html={post.content} />
        )
      }
    </div>
    <div class="mx-auto px-6 sm:px-6 max-w-3xl mt-8 flex justify-between flex-col sm:flex-row">
      <PostTags tags={post.tags} class="mr-5" />
      {
        share && (
          <SocialShare
            url={url}
            text={post.title}
            class="mt-5 sm:mt-1 align-middle text-gray-500 dark:text-slate-600"
          />
        )
      }
    </div>
  </article>
  <Comment />
</section>
